* {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

.info-block {
  display: block;
  text-align: center;
  color: rgb(29, 25, 46);
}

body {
  margin: 0;
  background-color: rgb(141, 131, 140);
}

.keyboard, textarea {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
}

textarea::placeholder {
  color: rgba(188, 177, 202, 1);
}

textarea {
  min-height: 100px;
  background-color: rgb(43, 43, 54);
  color: rgb(226, 217, 255);
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 20px auto;
  border-radius: 10px;
}

.keyboard {
  background-color: rgb(68, 67, 87);
  border-radius: 10px;
}

.keyboard--row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.keyboard--key {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 5%;
  min-width: fit-content;
  border-radius: 5px;
  background-color: rgba(23, 12, 44, .6);
  color: rgb(226, 217, 255);
  margin: 0.5vw;
  position: relative;
}

.keyboard--key:hover {
  box-shadow: 0 0 15px rgba(154, 141, 204, .9);
  cursor: grab;
  border-radius: 10px;
}

.keyboard--key:active, .keyboard--key.active {
  background-color: rgba(19, 14, 24, 0.856);
  box-shadow: 0 0 15px rgba(188, 177, 202, 1);
  color: rgb(226, 217, 255);
  border-radius: 10px;
  transition: all 0.3s;
}

.functional_keys {
  background-color: rgb(29, 25, 46);
  font-size: 0.8rem;
}

#Tab {
  width: 50px;
}

#Enter {
  width: 80px;
}

#Shift {
  width: 50px;
}

#Space {
  width: 40%;
}

#Control {
  width: 50px;
}

#CapsLock {
  width: 100px;
}

#Backspace {
  width: 100px;
}

#Language {
  width: 50px;
}

#CapsLock.CapsLock-active::after {
  background-color: rgb(86, 6, 235);
}

#CapsLock::after {
  content: '';
  border-radius: 50%;
  background-color: rgb(250, 195, 255);
  width: 5px;
  height: 5px;
  top: 5px;
  right: 10px;
  position: absolute;
}